@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet');

html {
    height: 100%;
    font-size: 100%;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0 0;
    background-color: rgb(245, 245, 245);
    background-attachment: fixed;
}

:hover::-webkit-scrollbar {
    visibility: visible;
    transition: 0.5s;
}

:hover::-webkit-scrollbar-thumb {
    visibility: visible;
    transition: 0.5s;
}

::-webkit-scrollbar {
    width: 5px;
    visibility: hidden;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;
}

button:hover {
    cursor: pointer;
}

#logo {
    display: inline-block;
    margin-right: 12px;
    height: 40px;
    width: 40px;
    vertical-align: middle;
}

#title {
    color: rgb(40, 40, 40);
    display: inline;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    font-weight: normal;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
    vertical-align: middle;
    margin-right: 60px;
}

/* #top-half {
    position: absolute;
    height: 40%;
    width: 100%;
    left: 0;
    top: 0;
}

#bottom-half {
    position: absolute;
    bottom: 0;
    height: 60%;
    width: 100%;
    left: 0;
} */

#on-screen {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

#scroll-down-portion {
    position: absolute;
    top: 100vh;
    width: 100%;
    left: 0;
}

.top-left {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 25px;
    margin-top: 25px;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 35px;
    margin-top: 35px;
}

.center {
    margin: 0;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom-right {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

#customBtn {
    display: inline-block;
    background: white;
    color: #444;
    width: 300px;
    border-radius: 5px;
    border: solid rgb(230, 230, 230); 
    /* border: solid rgb(100, 100, 100); Thinner appearance */
    box-shadow: 2px 2px 2px rgb(200, 200, 200);
    white-space: nowrap;
    margin-top: 20px;
}
#customBtn:hover {
    cursor: pointer;
}

#learn-more {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(68, 147, 250);
    z-index: 2;
}

#learn-more:hover {
    cursor: pointer;
}

#info-button {
    background-image: url('./icons/info.svg');
    background-size: 75px 75px;
    background-repeat: no-repeat;
    height: 75px;
    width: 75px;
    border: none;
}

span.label {
    font-family: serif;
    font-weight: normal;
}
span.icon {
    background: url('./icons/g-logo.svg') transparent 0px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin: 10px 10px 10px 10px;
}
span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.close {
    margin: 12px 20px 6px 0px;
    font-size: 24px;
    color: rgb(255, 255, 255);
    float: right;
    background-color: transparent;
    border: none;
}

#modal {
    display: none;
    transition: 0.5s;
}

#modal-content {
    position: relative;
    z-index: 3;
    width: 80%;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: rgb(230, 230, 230);
    vertical-align: middle;
    display: inline-block;
    text-align: left;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: black;
}

.modal-text {
    margin: 20px 20px 20px 20px;
}

.large-header {
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: bold;
}

.header {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.subheader {
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    font-weight: lighter;
}

#info-box {
    position: absolute;
    margin: 0;
    padding: 0 10%;
    left: 0;
    top: 0;
    width: 80%;
    overflow: auto;
}

.info-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 20px;
    margin-top: 5px;
}

#info-box-content {
    display: relative;
    text-align: left;
    margin-bottom: 80px;
}

#site-description {
    position: absolute;
    display: inline-block;
    margin: 0px 40px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
}

#site-screenshot {
    position: absolute;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 50%;
}